.contact{
    background-color: var(--color-backgroundblack);
    .col-md-4{
        margin-bottom: 4.3rem;
        span{
            max-width: 25.7rem;
            i{
                color: var(--color-yellow);
                margin-right: 5rem;
                font-size: 2rem;
            }
        }
    }
}