.notfound{
    background: url('../img/notfound.png') no-repeat;
    height: 102.4rem;
    h1{
        color: var(--color-backgroundblack);
    }
    a{
        color: var(--color-backgroundblack);
    }
    span{
        color: var(--color-backgroundblack);
    }
}