.productdetails{
    background-color: var(--color-backgroundblack);
    .section-fluid{
        margin-bottom: 6rem;
        a{
            &:last-child {
                text-transform: uppercase !important;
            }
        }
    }
    .container{
        .col-12{
            padding-bottom: 16rem;
            .container-text{
                h3{
                    margin-bottom: 3rem;
                }
                h6{
                    margin-bottom: 4rem;
                }
                span{
                    display: block;
                    max-width: 47rem;
                }
            }
            .container-img{
                max-width: 57rem;
                // max-height: 40rem;
            }
        }
        .order-1{
            padding-bottom: 3rem;
        }
    }
}